<ion-view view-title="{{Inspection.address}}">
	<ion-content>
		<div class="list">
			<div class="item item-divider" ng-repeat-start="category in categoriesHasValue">
				{{category.name}}(s)
			</div>
			<div class="item rate" ng-repeat="subcategory in category.subCategories">
				{{subcategory}}
				<a href ng-click="saveRate(subcategory,'1')" ng-style="{ color: Inspection[subcategory].rate == '1' ? '#55C768' : '#888' }">
					<i class="fa fa-smile-o fa-2x"></i>
				</a>
				<a href ng-click="saveRate(subcategory,'2')" ng-style="{ color: Inspection[subcategory].rate == '2' ? '#FBC000' : '#888' }">
					<i class="fa fa-meh-o fa-2x"></i>
				</a>
				<a href ng-click="saveRate(subcategory,'3')" ng-style="{ color: Inspection[subcategory].rate == '3' ? 'red' : '#888' }">
					<i class="fa fa-frown-o fa-2x"></i>
				</a>

				<a href ng-click="getPhoto(subcategory)">
					<i class="fa fa-camera fa-2x right">
						<span ng-click="alert('asd')" class="photo-badge" ng-show="Inspection[subcategory].images && Inspection[subcategory].images.length > 0" ng-bind="Inspection[subcategory].images.length">
						</span>
					</i>

				</a>
			</div>
			<span ng-repeat-end></span>
			<div class="item no-padding">
				<textarea name="comment" ng-model="Inspection.comment" placeholder="Comment"></textarea>
			</div>
		</div>
	</ion-content>
</ion-view>