<ion-view view-title="{{Inspection.address}}">
	<ion-content>

		<div class="list">
			<div class="item item-divider" ng-repeat="category in categoriesHasValue">
				{{category.name}}(s)
				<div class="item rate" ng-repeat="subcategory in category.subCategories">
					{{subcategory}} :
					<a href ng-click="saveRate(subcategory,'1')">
						<i class="fa fa-smile-o fa-2x"></i>
					</a>
					<a href ng-click="Inspection[subcategory] = '2'">
						<i class="fa fa-meh-o fa-2x"></i>
					</a>
					<a href ng-click="Inspection[subcategory] = '3'">
						<i class="fa fa-frown-o fa-2x"></i>
					</a>
				</div>
			</div>
			<div class="item no-padding">
				<textarea name="comment" ng-model="Inspection.comment" placeholder="Comment"></textarea>
			</div>
		</div>
	</ion-content>
</ion-view>